body {
    background: #155d1e;
    padding: 0px 5% 2px 5%;
}

.bordered {
    border: 1px solid black;
    padding: 5px;
}

.bronze {
    background: #CD7F32;
}

.center {
    text-align: center;
}

.container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.content {
    background: #e6ddc7;
    border: 2px solid black;
    border-radius: 20px;
    color: black;
    font-family: 'Arial', sans-serif;
    font-size: 13px;
    padding: 20px 0px;
    text-align: center;
}

.description {
    background: #d6cdb7;
    border: 2px solid black;
    border-radius: 20px;
    margin: 10px auto 0px auto;
    max-width: 80%;
    padding: 10px;
}

.left {
    text-align: left;
}

dt {
    font-weight: bold;
}

.even {
    background: #d6cdb7;
}

.gold {
    background: gold;
}

.header {
    background: #363;
    color: white;
}

.padded {
    padding: 5px;
}
.silver {
    background: silver;
}

.title {
    background: #392;
    color: white;
}

.tournaments-button {
    margin: auto;
}

.tournaments {
    margin: auto;
    padding-top: 10px;
}

.wrapper {
    border: 2px solid black;
    border-spacing: 0px;
    flex: none;
    margin-bottom: 10px;
    width: 49%;
}
