<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <title>Fumbbl League Stats - Performances</title>
    <link rel="stylesheet" th:href="@{/css/stats.css}" type="text/css"/>
    <link href='https://fonts.googleapis.com/css?family=Economica:400,700' rel='stylesheet' type='text/css'/>
</head>
<body>
<div th:each="wrapper: ${wrappers}">
    <div th:text="${wrapper.title}"></div>
    <div th:each="performance: ${wrapper.performances}">
        <div th:text="${performance.playerName} + ' - ' + ${performance.teamName} + ' - ' + ${performance.value}"></div>
    </div>
</div>
</body>
</html>