<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <title>Fumbbl League Stats - Tournament Listing</title>
    <link rel="stylesheet" th:href="@{/css/stats.css}" type="text/css"/>
    <link href='https://fonts.googleapis.com/css?family=Economica:400,700' rel='stylesheet' type='text/css'/>
    <script
            src="https://code.jquery.com/jquery-3.2.1.min.js"
            integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="
            crossorigin="anonymous"></script>
</head>
<body>
<div class="content">
    <h2>Tournament selection</h2>
    <div class="description center">
        <p class="selection-description">Select all tournaments to include in the stats calculation.</p>
        <div class="label-wrapper"><label> Select all <input type="checkbox" id="all"/></label></div>
        <form action="#" th:action="@{/performances}" method="POST">
            <div class="tournaments-button">
                <input type="submit" value="Generate Stats"/>
                <input type="hidden" name="groupId" th:value="${groupId}"/>
            </div>
            <div class="tournaments-wrapper">

            <table th:each="tournaments : ${tournamentsList}" class="tournaments">
                <tr>
                    <th></th>
                    <th>Tournament</th>
                    <th>Season</th>
                </tr>
                <tr th:each="tournament : ${tournaments}">
                    <td><input type="checkbox" name="tournamentIds" th:value="${tournament.id}" th:id="${tournament.id}"/></td>
                    <td th:text="${tournament.name}"></td>
                    <td th:text="${tournament.season>0} ?  ${tournament.season} : '-'"></td>
                </tr>
            </table>
            </div>
        </form>
    </div>
</div>
<script>
    $('#all').on('click', function(){
        $('form input[type=checkbox]').prop('checked',  $('#all').prop('checked'))
    })
</script>
</body>
</html>